.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.undraggable {
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

* {
    box-sizing: border-box;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

[class*="col-"] {
    float: left;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.glowing-border {
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 20px #49afff;
}

.window {
    position: fixed;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: white;

    .titleBar {
        width: 100%;
        background-color: lightblue;
        height: 16px;

        .name {
            font-size: 14px;
            color: black;
            margin: 0px;
            cursor: default;
        }

        p {
            line-height: 16px;
        }
    }

    .right {
        position: absolute;
        right: 0px;
        font-size: 14px;
        line-height: 16px;
    }

    .right:hover {
        background-color: white;
        color: lightblue;
    }
}
