
.program-executor {

    .toolbar {
        height: 48px;

        .item {
            display: inline-block;
            img {
                width: 48px;
                height: 48px;
            }
        }

        .item:hover {
            background: lightblue;
        }

    }

    .line {
        height: 18px;

        .gutter {
            display: inline-block;
            background-color: lightgrey;
            width: 52px;
            text-align: right;
            padding-right: 8px;
        }

        .content {
            display: inline-block;
            padding-left: 16px;
        }
    }

    .watcher {
        height: 99%;

        .title {
            font-size: 14px;
            padding-top: 2px;
            padding-bottom: 2px;
            padding-left: 4px;
            padding-right: 4px;
            background-color: lightgrey;
        }

        .content {
            padding: 4px;
        }

        .variable {
            color: #6161FF;
            cursor: default;
        }

        .variable:hover {
            text-decoration: underline;
        }

    }

    .variable-area {
        height: 60%;
    }

    .constant-area {
        height: 40%;
    }

    .code-area {
        height: 99%;
        overflow-y: scroll;
    }

}
