
.tabs {

    ul {
        padding: 0px;
        margin: 0px;

        li {
            display: inline-block;
            list-style: none;

            margin: 0px;
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 14px;
            padding-right: 14px;
        }

        li.active {
            background-color: #ADD8E6;
        }

        li:hover {
            background-color: #C6DAE0;
            cursor: pointer;
        }

    }

}

.process-page {

    table {
        width: 100%;
        border-collapse: collapse;

        tbody {

            tr:hover {
                background-color: lightgrey;
            }

        }

    }

}

.info-page {

    .name {
        font-weight: bold;
    }

    .content-body {
        text-align: center;
    }

    table {
        margin-left: 50%;
        transform: translateX(-50%);
    }

}
